@page "/building-C"

@layout Layout.Security.SecurityLayout

@inject NavigationManager Navigation
@inject AuthService AuthService

<!-- Building A Security Page -->
<h3>Building C Security</h3>

@code {
    protected override void OnInitialized()
    {
        if (!AuthService.HasRole("Security"))
        {
            Navigation.NavigateTo("/login", forceLoad: true);
        }
    }
}