@inject BuildingService BuildingService
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Inicio</a>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="user-management">
                <span id="Users" class="bi bi-parking-nav-menu" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="user-management1">
                <span id="Building" class="bi bi-parking-nav-menu" aria-hidden="true"></span> Parqueos
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="user-management2">
                <span id="Vehicles" class="bi bi-parking-nav-menu" aria-hidden="true"></span> Vehiculos
            </NavLink>
        </div>
    </nav>
</div>